<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiangyj.cloud.dubbo.product.service.dao.mapper.ProductBaseMapper">
    <resultMap id="BaseResultMap" type="com.xiangyj.cloud.dubbo.product.service.dao.entity.ProductBase">
        <result column="SYS_ID" property="sysId" jdbcType="INTEGER" />
        <result column="PRODUCT_ID" property="productId" jdbcType="VARCHAR" />
        <result column="PRODUCT_NAME" property="productName" jdbcType="VARCHAR" />
        <result column="PRODUCT_PRICE" property="productPrice" jdbcType="DECIMAL" />
        <result column="PRODUCT_STATUS" property="productStatus" jdbcType="INTEGER" />
    </resultMap>
    <sql id="Base_Column_List">
        SYS_ID, PRODUCT_ID, PRODUCT_NAME, PRODUCT_PRICE, PRODUCT_STATUS
    </sql>

    <insert id="create" parameterType="com.xiangyj.cloud.dubbo.product.service.dao.entity.ProductBase">
        insert into
            product_base(PRODUCT_ID, PRODUCT_NAME, PRODUCT_PRICE, PRODUCT_STATUS)
        values(#{productId}, #{productName}, #{productPrice}, #{productStatus})
    </insert>

    <insert id="batchCreate" parameterType="list">
        insert into
            product_base(PRODUCT_ID, PRODUCT_NAME, PRODUCT_PRICE, PRODUCT_STATUS)
        values
        <foreach collection="list" item="data" index="index" separator=",">
            (#{data.productId}, #{data.productName}, #{data.productPrice}, #{data.productStatus})
        </foreach>
    </insert>

    <select id="select" resultMap="BaseResultMap" parameterType="com.xiangyj.cloud.dubbo.product.service.dao.entity.ProductBase">
        select
            <include refid="Base_Column_List" />
        from
            product_base
        where 1=1
        <if test="sysId != null and sysId != ''">
            and SYS_ID = #{sysId}
        </if>
        <if test="productId != null and productId != ''">
            and PRODUCT_ID = #{productId}
        </if>
        <if test="productName != null and productName != ''">
            and PRODUCT_NAME = #{productName}
        </if>
        <if test="productPrice != null and productPrice != ''">
            and PRODUCT_PRICE = #{productPrice}
        </if>
        <if test="productStatus != null and productStatus != ''">
            and PRODUCT_STATUS = #{productStatus}
        </if>
    </select>

    <select id="selectList" resultMap="BaseResultMap" parameterType="com.xiangyj.cloud.dubbo.product.service.dao.entity.ProductBase">
        select
            <include refid="Base_Column_List" />
        from
            product_base
        where 1=1
        <if test="sysId != null and sysId != ''">
            and SYS_ID = #{sysId}
        </if>
        <if test="productId != null and productId != ''">
            and PRODUCT_ID = #{productId}
        </if>
        <if test="productName != null and productName != ''">
            and PRODUCT_NAME = #{productName}
        </if>
        <if test="productPrice != null and productPrice != ''">
            and PRODUCT_PRICE = #{productPrice}
        </if>
        <if test="productStatus != null and productStatus != ''">
            and PRODUCT_STATUS = #{productStatus}
        </if>
    </select>

    <update id="update" parameterType="com.xiangyj.cloud.dubbo.product.service.dao.entity.ProductBase">
        update
        product_base
        <trim prefix="set" suffixOverrides=",">
            <if test="sysId != null and sysId != ''">
                SYS_ID = #{sysId},
            </if>
            <if test="productId != null and productId != ''">
                PRODUCT_ID = #{productId},
            </if>
            <if test="productName != null and productName != ''">
                PRODUCT_NAME = #{productName},
            </if>
            <if test="productPrice != null and productPrice != ''">
                PRODUCT_PRICE = #{productPrice},
            </if>
            <if test="productStatus != null and productStatus != ''">
                PRODUCT_STATUS = #{productStatus},
            </if>
        </trim>
        where IS_DEL = 'N'
        <if test="id != null and id != ''">
            and ID = #{id}
        </if>
    </update>

    <select id="findById" parameterType="integer" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List" />
        from
            product_base
        where IS_DEL = 'N'
        <if test="id != null and id !=''">
            and ID = #{id}
        </if>
    </select>
</mapper>